.source-controls {
    margin-block: 1.5rem;
}

.source-control {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.source-control label {
  font-weight: 600;
}

.source-control-inputs {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 5rem;
  gap: 1rem;
  align-items: center;
}

.source-control input[type="range"] {
    width: min(600px, 50%);
}

@media (max-width: 500px) {
  .source-control-inputs{
    grid-template-columns: 1fr;
  }
}
